<input type="text" id="search" ng-model="nameFilter" placeholder="Search..."/>
<button ng-click="getArtiest()">Search</button>
<button ng-click="addArtiest()">Add</button>
<table>
<thead>
  <tr><th colspan="4">Artiesten</th></tr>
</thead>
<tbody>
  <tr ng-repeat="artiest in artiestList | filter: searchFilter">
    <td>{{$index + 1}}</td>
    <td>
      <a href="#/drivers/{{artiest.id}}">
	  	{{artiest.name}}
	  </a>
	</td>
    <td><button ng-click="deleteArtiest(artiest.id)">delete</button></td>
  </tr>
</tbody>
</table>