<section id="main">
  <a href="./#/drivers"><- Back to artiest list</a>
  <nav id="secondary" class="main-nav">
    <div class="driver-picture">
      <div class="avatar">
        <input type="text" id="artiest_name" value="{{artistName}}" />
        <button id="updateArtiest" ng-click="updateArtiest()">Update</button> 
      </div>
    </div>
  </nav>

  <div class="main-content">
    <table class="result-table">
      <thead>
        <tr><th colspan="5">Albums</th></tr>
      </thead>
      <tbody>
        <tr ng-repeat="album in albumList">
          <td><input type="text" value="{{album.name}}" id="{{album.id}}" /></td>
          <td><button ng-click="updateAlbum(album.id)">update</button>
          <td><button ng-click="deleteAlbum(album.id)">delete</button>
        </tr>
        <tr>
          <td><input type="text" id="addAlbum" /></td>
          <td><button ng-click="addAlbum()">Add</button></td>
      </tbody>
    </table>
  </div>
</section>